/* DolphinSection.css */

.dolphin-section {
    text-align: right;
    background: linear-gradient(to bottom, white 0%, rgba(4, 100, 185, 0.66) 70%, white 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .dolphin-gif-container {
    position: relative;
    display: inline-block;
  }
  
  .dolphin-gif {
    max-width: 100%;
    height: 800px;
    border-radius: 10px;
  }
  
  .dolphin-text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(10%, -60%);
    text-align: right;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
  }
  
  .dolphin-overlay-heading {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .dolphin-overlay-list {
    padding: 0;
    margin: 0;
    font-size: 3rem;
    line-height: 1.6;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .dolphin-section {
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  
    .dolphin-text-overlay {
      transform: translate(-50%, -50%);
      width: 90%;
      text-align: right;
    }
  
    .dolphin-overlay-heading {
      font-size: 2rem;
    }
  
    .dolphin-overlay-list {
      font-size: 1rem;
    }
  }
  