/* DolphinSection.css */

.dolphin-gif-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(97, 181, 255, 0.66) 20%, white 100%);
  width: 100%;
  align-items: center;
  z-index: 52;
  position: relative;
  text-align: left;
}

.dolphin-text-overlay {
  position: relative;
  padding: 20px;
  color: #002987;
}

.dolphin-overlay-heading {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.dolphin-overlay-list {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  line-height: 2;
  list-style: none ;
}

.dolphin-gif {
  max-width: 100%;
  height: 800px;
  border-radius: 10px;
}

  /* Responsive Styles */
  @media (max-width: 768px) {
    .dolphin-section {
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  
    .dolphin-text-overlay {
      position: relative;
      top-margin: 40%;
      width: 90%;
      text-align: center;
    }
  
    .dolphin-overlay-heading {
      font-size: 4rem;
    }
  
    .dolphin-overlay-list {
      font-size: 2rem;
    }
  }
  
