.services-container {
    padding: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.461) 0%, rgba(88, 160, 223, 0.377) 50%, rgba(255, 255, 255, 0.678) 100%);
    gap: 32px;
    color: rgb(0, 0, 108);
  }
  
  .section {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .section-title {
    font-size: 4rem;
    font-weight: bold;
  }
  
  .subcategory {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .subcategory-title {
    font-size: 2.3rem;
    font-weight: semi-bold;
  }
  
  .image {
    width: 60%;
    align-self: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 768px) {
    .image {
      width: 90%;
    }
  }