.services-container {
  padding: 24px;
  display: flex;
  align-items: center;
  z-index: 52;
  position: relative;
  text-align: center;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(255, 229, 216, 0.274) 0%, rgb(255, 250, 249) 20%, rgba(229, 152, 155, 0.578) 50%, rgba(255, 181, 162, 0.646) 75%, rgba(255, 205, 178, 0.482) 100%);
  gap: 32px;
  color: rgb(0, 0, 108);
  overflow: hidden;
}

.section {
  display: flex;
  flex-direction: column;

}

.section-main-title {
  font-size: 6rem;
  background: linear-gradient(135deg, rgb(31, 0, 203), rgb(54, 38, 41));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.section-title {
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.subcategory {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subcategory-title {
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: semi-bold;
}

.image {
  width: 60%;
  align-self: center;
  border-radius: 8px;
  box-shadow: 12px 12px 12px rgba(255, 255, 255, 0);
  padding-top: 40px;
}

@media (max-width: 768px) {

  .section-main-title {
    font-size: 4rem;
  }
  .image {
    width: 90%;
    margin-left: 25%;

  }
}